# ===========================
# Environment
# ===========================
NODE_ENV=development

# ===========================
# Nuxt Public
# ===========================

# Public backend API URL for client-side browser requests
NUXT_PUBLIC_API_URL=

# Internal backend API URL for Nuxt Server-Side Rendering (SSR)
NUXT_API_URL_INTERNAL=

# Public LiqPay key for frontend payment widget initialization
NUXT_PUBLIC_LIQPAY_PUBLIC_KEY=

# Cloudinary cloud name for image rendering and upload
NUXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
