# ===========================
# Database
# ===========================
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# ===========================
# Domains and Caddy
# ===========================
DOMAIN=
API_DOMAIN=
FRONTEND_URL=
NUXT_PUBLIC_API_URL=
CADDY_EMAIL=
COOKIE_SAMESITE=

# ===========================
# Docker Image Tag (for CI/CD)
# ===========================
IMAGE_TAG=latest
