# ===========================
# Environment
# ===========================
NODE_ENV=production

# ===========================
# API Server
# ===========================
PORT=4000
FRONTEND_URL=

# ===========================
# Database (PostgreSQL)
# ===========================
# DB_HOST та DB_PORT задаються docker-compose (db:5432)
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=
DB_LOGGING=

# ===========================
# Cookie
# ===========================
COOKIE_DOMAIN=
COOKIE_SAMESITE=

# ===========================
# JWT
# ===========================
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION='1h'
JWT_REFRESH_EXPIRATION='7d'

# ===========================
# Google Gemini
# ===========================
GEMINI_API_KEY=
EMBEDDING_MODEL_NAME='gemini-embedding-001'
GEMINI_MODEL_NAME='gemini-3.1-flash-lite'

# ===========================
# Email (SMTP)
# ===========================
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# ===========================
# Cloudinary
# ===========================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ===========================
# LiqPay
# ===========================
LIQPAY_PUBLIC_KEY=
LIQPAY_PRIVATE_KEY=
LIQPAY_CALLBACK_URL=
